@font-face { font-family: Title; src: url('foggybottom.ttf'); } 
#canvas-id {
	cursor:crosshair;
	position:absolute;
	background-color:black;
	z-index:1;
}
.holder{
height:100%;
position:absolute;
right:0;
z-index:2;
}
.open > img{
width:100%;
position:relative;
top:50%;
}
.controls{
display:flex;
float:left;
flex-direction: column;
width:300px;
height:100%;
color:white;
background-color:rgb(30,30,30,0);
}
.open{
float:left;
width:30px;
height:100%;
}
@media screen and (max-width: 800px) {
	.controls{
		width:(100% - 30px );
		
	}
}
.control{
width:95%;
flex-grow:1;
//margin:20px auto 0 auto;
}
.slider{
	width:40%;
	display:inline-block;
}
.desk{
	font-size:170%;
	font-family:Title;
	display:inline-block;
	width:50%;
}
