@font-face { font-family: Title; src: url('foggybottom.ttf'); } 
body,html{
height:100%;
overflow:hidden;
background-color:black;
margin:0;
}

.container{
	display:flex;
	height:100%;
	flex-direction:column;
}
*{
box-sizing:border-box;
}

#fullscreen{
	position:absolute;
	z-index:10;
	right:5px;
	height:40px;
}

header{
	background:#000;
	color:white;
	height:40px;
	display:flex;
	padding:5px 10px;
}
span{
	font-family:Title;
	flex:1;
	vertical-align:middle;
	text-align:center;
}
span.title{
	font-size:200%;
}
span.back{
	font-size:200%;
	text-align:left;
}
span.back:hover{
	color:blue;
}
spawn.fill{
text-align:left;
}
a{ 
	color: inherit; 
	text-decoration:none;
}
@media screen and (max-width:900px){
	span.back,span.fill{
		display:none;
	}
}


